<?xml version="1.0"?>

<model>
    <name>Wall curve</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>ROBO_Grupo</name>
        <email>test@gmail.com</email>
    </author>
    
    <description>
        Cube curve 0.2m width
    </description>
</model>